.img-logo{
    width:auto ;
    max-height:35px;
}
.map-css{
    padding-left: 0;
    padding-right: 0;
}
.home-panel{
    border-color: #ffffff;
}

 .txt-css> tbody > tr:hover {
    color: #000000;
}

.icons {
    font-size: 27px !important;
    color: grey;
    float: none;
}
.portlets-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}
#about_text {
    text-align: center;
    width: 80%;
    margin: auto;
}
.link_text {
    text-align: center;
}
p {
    margin: 0 0 10px;
}

@media only screen and (max-width: 1150px) {
    .dashboard-data{
        font-size: 12px !important;
    }
}
#pop_img2 {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 7px;
}
img {
    vertical-align: middle;
}

.astrick{
    color:red;
}
/*Advance map styles*/

.angular-google-map-container {
    width: 100%;
    height: 500px;
}
.inline-block{
    display: inline-block;
}
.head_button{
    margin-bottom:15px;
}
.btn-align{
    text-align:right;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 28px;
    font-size: 15px;
    padding: 0;
    vertical-align: bottom;
    /* margin-left: 50px; */
    margin-top: 10px;
    text-align: center;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.login-btn{
    background-color: #1fb5ad;
    border-color:#1fb5ad ;
}
.login-btn:focus,.login-btn:hover{
    background-color: #1fb5ad;
    border-color:#1fb5ad ;
}
/*.sidebar > .nav > li > a > em:hover, .sidebar > .nav > li > .nav-item > em:hover,.sidebar > .nav > li > a > em:focus,.sidebar > .nav > li > .nav-item > em:focus{*/
    /*font-size:28px;*/
    /*-webkit-transform: scale(2.0,2.0);*/
    /*-moz-transform:scale(2.0,2.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/
/*.sidebar > .nav > li > a:hover, .sidebar > .nav > li > .nav-item:hover,.sidebar > .nav > li > a:focus, .sidebar > .nav > li > .nav-item:focus {*/
/*font-size: 22px;*/
/*}*/
/*.fa:hover,.fa:focus{*/
    /*font-size:28px;*/
    /*-webkit-transform: scale(2.0,2.0);*/
    /*-moz-transform:scale(2.0,2.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/
/*.icon-nav:hover,.icon-nav:focus{*/
    /*-webkit-transform: scale(1.0,1.0);*/
    /*-moz-transform:scale(1.0,1.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/
/*.topnavbar .navbar-nav > li > a:hover{*/
    /*-webkit-transform: scale(2.0,2.0);*/
    /*-moz-transform:scale(2.0,2.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/


/*.car:hover,.car:focus{*/
    /*font-size:3em;*/
    /*-webkit-transform: scale(1.0,1.0);*/
    /*-moz-transform:scale(1.0,1.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/
/*.dollar:hover,.dollar:focus{*/
    /*font-size:3em;*/
    /*-webkit-transform: scale(1.0,1.0);*/
    /*-moz-transform:scale(1.0,1.0);*/
    /*opacity: 1;*/
    /*-webkit-opacity: 1;*/
    /*-moz-opacity: 1;*/
/*}*/


.ng-error{
    color:#f05050;
    font-size:12px
}
.online{

    color:#27c24c;
}
.offline{

    color:#808080;
}
.offmode{
    color:#000;
}
.online-free{
    color:green;
}
.busy{
    color:#f05050;
}
.left-div{
    float:left;
    width:48%;
    margin-right:2%
}
.right-div{
    float:left;
    width:48%;

}
.check{
    margin-right:2%
}
.panel-theme > .panel-heading{
    background-color:#1fb5ad;
    color:#fff;
    text-align:center;
}
.btn-info:hover,.btn-info:focus{
    background-color:#1fb5ad;
    border-color: #1fb5ad;
}
.uploaded_img{
    margin-top:5px;
}
hr{
    border-top: 5px solid #1fb5ad;
}
.approx_val{
    font-size:16px;

}
.theme_color{
    color:#1fb5ad;
}
.pencil-icon{
    color:#7266ba;
}
.unblock-icon{
   color: #27c24c;
}
.block-icon{
    color: #f05050;
}

.whirl.duo:after {
    border-right: 4px solid #333;
    border-left: 4px solid #333;
    border-top: 4px solid #1fb5ad !important;
    border-bottom: 4px solid #1fb5ad !important;
}
#promo_code_image{
    border: 1px solid grey;
    border-radius: 10px;
}
.labels {
    color: black;
    background-color: #fff;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    width: 18px;
    height:18px;
    border: 0;
    border-radius: 10px;
}
.canvasarea{
    border:2px solid #808080;
    border-radius: 8px;
    max-width:100%
}
#croppedimage{
    border:1px solid #808080;
    border-radius: 8px;
    max-width:100%
}
#map-info{
    position: absolute; background-color: transparent; top: 27px; right: 6px; z-index: 99; background: white;
    border:1px solid #000;
    border-radius: 2px ;
    font-size: 10px;
}
#map-div-content{
    position: relative;
}

.readonly_input{
    background-color: transparent !important;
}
.logo-div{
    min-width:100px;
}
/*===CSS FOR SEARCH BOX ON MAP==*/
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
/*.fadein,*/
/*.fadeout {*/
    /*-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;*/
    /*-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;*/
    /*-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;*/
    /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;*/
/*}*/

/*.fadein.ng-hide-remove,*/
/*.fadeout.ng-hide-add.ng-hide-add-active {*/
    /*opacity: 0;*/
    /*display: block !important;*/
/*}*/

/*.fadeout.ng-hide-add,*/
/*.fadein.ng-hide-remove.ng-hide-remove-active {*/
    /*opacity: 1;*/
    /*display: block !important;*/
/*}*/