
<style>
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-calendar:before {
        content: "\e109";
    }
</style>
<h3 xmlns="http://www.w3.org/1999/html">
    Admin Users
    <small>Add Admin</small>
</h3>
<div class="row" ng-controller="AddAdminController">
    <div class="col-lg-6 col-md-6">
        <form name ="myForm" method="post"  validate-form="" novalidate="" ng-submit="addAdmin(addadmin)">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label class="control-label">UserName</label>
                        <input type="text" name="user_name" required="required" class="form-control"
                               ng-model="addadmin.user_name"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Email</label>
                        <input type="text" name="Email" required="required"
                                  class="form-control" data-parsley-type="email"
                                  ng-model="addadmin.email_id"/>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label">Password</label>
                        <input type="password" name="password" required="required" class="form-control" id="admin_pass"
                               ng-model="addadmin.password"  data-parsley-minlength="6"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" name="conf_password" required="required" class="form-control"
                               ng-model="addadmin.conf_password"  data-parsley-equalto ="#admin_pass"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">First Name</label>
                        <input type="text" name="user_name" required="required" class="form-control"
                               ng-model="addadmin.first_name" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Last Name</label>
                        <input type="text" name="last_name" required="required" class="form-control"
                               ng-model="addadmin.last_name" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Date Of Birth</label>
                        <div class='input-group date' id='dateofbirth'>
                            <input type='text' class="form-control" ng-model="addadmin.dob"  required="required" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">User Type</label>
                        <select required ="required" ng-model="addadmin.type_of_admin"
                                class="chosen-select form-control"
                                ng-options="item as item.name for item in type_of_admin">
                            <option value="">-- Select an option--</option>
                        </select>


                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Country Code</label>
                        <input type="text" name="country_code" required="required" class="form-control"
                               ng-model="addadmin.country_code"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Mobile Number</label>
                        <input type="text" name="mobile_num" required="required" class="form-control"
                               ng-model="addadmin.mobile_num"  data-ui-mask="(999)999-9999"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Street Address</label>
                        <input type="text" name="street_address" required="required" class="form-control"
                               ng-model="addadmin.street_address" googleplace/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Locality</label>
                        <input type="text" name="locality" required="required" class="form-control"
                               ng-model="addadmin.locality"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Region</label>
                        <input type="text" name="region" required="required" class="form-control"
                               ng-model="addadmin.region"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Postal Code</label>
                        <input type="text" name="postal_code" required="required" class="form-control"
                               ng-model="addadmin.postal_code"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Upload Image</label>
                        <div class="form-group">
                            <img id="admin_image" class='uploaded_img left-div'
                                 style="width:100px;height:100px"/>
                        </div>
                        <div style="clear:both"></div>
                        <div class="fileUpload btn btn-info">
                            Upload Photo
                            <input id="imagecropupload" filestyle="" type="file" accept="image/*"
                                   onchange="angular.element(this).scope().file_to_upload(this.files)"
                                   data-button-text="Single" data-class-button="btn btn-default"
                                   data-classinput="form-control inline" nv-file-select="" uploader="uploader"
                                   class="form-control upload" />

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                    <div style="clear:both"></div>

                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <!-- END panel-->
        </form>


    </div>

    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="closeThisDialog(0)" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
    <script>
        $('#dateofbirth').datepicker({
            format: 'dd/mm/yy',
            endDate:new Date(),
            autoclose: true
        });
    </script>
</div>