<h3 xmlns="http://www.w3.org/1999/html">
    Promo Codes
    <small>Add Promo Code</small>
</h3>
<div class="row" ng-controller="AddPromoController">
    <div class="col-lg-6 col-md-6">
        <form>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6">
                        <h5>Start Date<span class="astrick">*</span></h5>


                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="promo.start_date1"
                                   is-open="opened"
                                   min-date="minDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="start_date"/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>

                        </p>


                    </div>

                    <div class="col-lg-6 col-md-6">
                        <h5>End Date<span class="astrick">*</span></h5>

                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="promo.end_date1"
                                   is-open="opened1"
                                   min-date="minDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="end_date"/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open1($event)" class="btn btn-default">
                               <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                        </p>
                    </div>
                    <!--</div>-->
                    <div style="clear:both"></div>
                </div>
            </div>
        </form>
        <form method="post" id="add-promo" validate-form="" novalidate="" ng-submit="addPromoCode()">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group col-md-6">
                        <label class="control-label">Promo Code<span class="astrick">*</span></label>
                        <input type="text" name="promo_code" required="required" class="form-control"
                               ng-model="promo.promo_code"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label">Description<span class="astrick">*</span></label>
                        <textarea type="text" id="description" rows="1" name="description" required="required"
                                  class="form-control"
                                  ng-model="promo.description"/></textarea>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Validity<span class="astrick">*</span></label>
                        <input type="text" name="validity" required="required" class="form-control"
                               ng-model="promo.validity" data-parsley-type="digits" data-parsley-min="1"/>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">No. Of Coupons<span class="astrick">*</span></label>
                        <input type="text" name="num_coupons" required="required" class="form-control"
                               ng-model="promo.num_coupons" data-parsley-type="digits" data-parsley-min="1"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">No. Of Coupons/User<span class="astrick">*</span></label>
                        <input type="text" name="num_coupons" required="required" class="form-control"
                               ng-model="promo.num_coupons_per_user" data-parsley-type="digits" data-parsley-min="1" data-parsley-max ="{{promo.num_coupons}}"/>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label">Upload Image</label>

                        <div class="form-group">
                            <img id="promo_code_image" class='uploaded_img left-div'
                                 style="width:100px;height:100px" id="promo_code_image"/>
                        </div>
                        <div style="clear:both"></div>
                        <div class="fileUpload btn btn-info">
                            <span class="glyphicon glyphicon-folder-open">Upload</span>
                            <input id="imagecropupload" filestyle="" type="file" accept="image/*"
                                   onchange="angular.element(this).scope().file_to_upload(this.files)"
                                   data-button-text="Single" data-class-button="btn btn-default"
                                   data-classinput="form-control inline" nv-file-select="" uploader="uploader"
                                   class="form-control upload" img-cropper-fileread image="cropper.sourceImage" />

                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Discount</label>
                        <select required="required" ng-model="promo.discount_type"
                                class="chosen-select form-control"
                                ng-options="item.id as item.name for item in discount_type"
                                ng-change="discountShow(promo.discount_type)">
                            <option value=""> -- Select type-- </option>
                        </select>


                    </div>
                    <div class="form-group">
                        <label class="control-label" ng-show="show_perc_off">( % Off )</label>
                        <input type="text" name="perc_off"  class="form-control"
                               ng-model="promo.perc_off" data-parsley-type="digits" ng-show="show_perc_off" data-parsley-max="100" data-parsley-min="1"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" ng-show="show_max_off">Maximum Discount</label>
                        <input type="text" name="max_off"  class="form-control"
                               ng-model="promo.max_off" data-parsley-type="digits" ng-show="show_max_off" data-parsley-min="1"/>
                    </div>
                    </div>
                    <div>
                        <canvas class="canvasarea" ng-show="showCroppingArea" width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                    </div>
                    <div ng-show="showCroppingArea" style="font-size:16px">Cropped Image</div>
                    <!--<div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>-->
                    <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" id="croppedimage" /></div>



                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" style="float:right">Add Promo</button>
                    <div style="clear:both"></div>

                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <!-- END panel-->
        </form>

    </div>

    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()"class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
</div>