
<style>
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-calendar:before {
        content: "\e109";
    }
</style>
<h3>
    Approve Driver
    <small></small>
</h3>
<div class="row" ng-controller="ApproveDriverController">
    <div class="col-lg-12">


        <form method="post"  validate-form="" novalidate="" ng-submit="approveDriverFunction()">
            <!-- START panel-->


            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="panelPortlet13" class="panel panel-theme">
                        <div class="panel-heading">User Details</div>
                    </div>
                    <div>
                        <div class="form-group left-div">
                            <label class="control-label">First Name</label>
                            <input type="text" name="driver_first_name" required="required" class="form-control"
                                   ng-model="approveDriver.first_name" ng-disabled="true">
                        </div>

                        <div class="form-group right-div">
                            <label class="control-label">Last Name</label>
                            <input type="text" name="driver_name" required="required" class="form-control"
                                   ng-model="approveDriver.last_name" ng-disabled="true"/>
                        </div>
                        <div style="clear:both"></div>
                        <div>
                            <div class="form-group left-div" >
                                <label class="control-label">Gender</label>
                                <select required ="required" style="width:100%" ng-model="approveDriver.gender"  class="chosen-select input-md form-control" ng-options="item.id as item.name for item in gender_values">
                                    <option value="">-- Select Gender--</option>

                                </select>

                            </div>
                            <div class="form-group right-div" style="width:35%;">
                                <label class="control-label">Date Of Birth</label>
                                <div class='input-group date' id='dateofbirth'>
                                    <input type='text' class="form-control" ng-model="approveDriver.dateofbirth" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>


                        </div>
                        <div style="clear:both"></div>

                        <div class="form-group left-div">
                            <label class="control-label">Phone Number</label><br>
                            <div style="float: left;background: rgb(238,241,242);padding:5px;">+</div>
                            <input type="text" name="phn_no" required="required" data-parsley-type="digits" class="form-control"
                                   ng-model="approveDriver.phn_no" style="  float: right;width: 91%;" placeholder="phone number with country code" data-parsley-maxlength="12"/>
                            <div style="clear:both"></div>
                        </div>


                        <div class="form-group right-div">
                            <label class="control-label">Social Security Number</label>
                            <input type="text" name="soc_sec_num" required="required" class="form-control" data-parsley-type="digits"
                                   ng-model="approveDriver.soc_sec_num"/>
                        </div>
                        <div style="clear:both"></div>



                    </div>


                    <div>

                        <div class="form-group left-div">
                            <label class="control-label">Address</label>
                            <input type="text" name="license_num" required="required" class="form-control"
                                   ng-model="approveDriver.address" googleplace/>
                        </div>

                        <div class="form-group right-div">
                            <label class="control-label">City</label>
                            <input type="text" name="license_plate_num" required="required" class="form-control"
                                   ng-model="approveDriver.city" data-parsley-type="alphanum"/>
                        </div>

                    </div>

                    <div style="clear:both"></div>
                    <div  class="panel panel-theme">
                        <div class="panel-heading">Account Details</div>
                    </div>
                    <div>
                        <div>
                            <div class="form-group left-div">
                                <label class="control-label">Post Code</label>
                                <input type="text" name="description" required="required" class="form-control"
                                       ng-model="approveDriver.post_code" data-parsley-type="alphanum"/>
                            </div>
                            <div class="form-group right-div">
                                <label class="control-label">Bank Name</label>
                                <input type="text" name="description" required="required" class="form-control"
                                       ng-model="approveDriver.bank_name"/>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        <div>
                            <div class="form-group left-div">
                                <label class="control-label">Bank Account Name</label>
                                <input type="text" name="description" required="required" class="form-control"
                                       ng-model="approveDriver.bank_account_name"/>
                            </div>
                            <div class="form-group right-div">
                                <label class="control-label">Account Number</label>
                                <input type="text" name="description" required="required" class="form-control"
                                       ng-model="approveDriver.account_num" data-parsley-type="alphanum"/>
                            </div>


                        </div>
                        <div style="clear:both"></div>
                        <div>
                            <div class="form-group left-div">
                                <label class="control-label">Sort Code</label>
                                <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                       ng-model="approveDriver.sort_code" data-parsley-type="alphanum"/>
                            </div>
                            <div class="form-group right-div">
                                <label class="control-label">Type of company</label>
                                <select  required ="required" ng-model="approveDriver.type_of_company"  class="chosen-select input-md form-control" ng-options="item.id as item.name for item in type_of_company_values">
                                    <option value="">-- Select Type--</option>

                                </select>

                            </div>


                        </div>
                        <div style="clear:both"></div>
                        <div>
                            <div class="form-group left-div">
                                <label class="control-label">VAT Registered</label>
                                <select required ="required" ng-model="approveDriver.vat_registered"  class="chosen-select input-md form-control" ng-options="item.id as item.name for item in vat_registered" ng-change="vat_reg_flag(approveDriver.vat_registered)">
                                    <option value="">-- Select an option--</option>
                                </select>
                            </div>
                            <div class="form-group right-div">
                                <label class="control-label">VAT Registration Number</label>
                                <input type="text" name="validity_window"  class="form-control" data-parsley-type="alphanum"
                                       ng-model="approveDriver.vat_reg_no" ng-disabled="vat_flag"/>

                            </div>


                        </div>
                        <div style="clear:both"></div>
                        <div class="panel panel-theme">
                            <div class="panel-heading">Driver License Details</div>
                        </div>
                        <div>
                            <div>
                                <div class="form-group left-div">
                                    <label class="control-label">Driver License</label>
                                    <div class="fileUpload btn btn-info">
                                        <span>Upload</span>
                                        <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,0)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                    </div>
                                    <span>{{driver_license_name}}</span>
                                    <div class="form-group">
                                        <img class='uploaded_img' ng-src={{uploaded_driver_license_img}}  style="width:100px;height:100px" id="driver_license_image"/>
                                    </div>
                                </div>
                                <div class="form-group right-div">
                                    <label class="control-label">Driver License Number</label>
                                    <input type="text" name="validity_window" required="required" class="form-control"
                                           ng-model="approveDriver.driver_license_num" data-parsley-type="alphanum"/>

                                </div>


                            </div>
                            <div style="clear:both"></div>
                            <div>
                                <div class="form-group left-div" style="width:35%">
                                    <label class="control-label">License Start Date</label>
                                    <div class='input-group date' id='lic_start_date'>
                                        <input type='text' class="form-control"  ng-model="approveDriver.lic_start_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    </div>
                                </div>
                                <div class="form-group right-div" style="width:35%;margin-left:13%">
                                    <label class="control-label">License Expiry Date</label>
                                    <div class='input-group date' id='lic_expiry_date'>
                                        <input type='text' class="form-control" ng-model="approveDriver.lic_expiry_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    </div>

                                </div>


                            </div>
                            <div style="clear:both"></div>
                            <div>
                                <div class="form-group left-div">
                                    <label class="control-label">Area Of Operation</label>
                                    <select required ="required" ng-model="approveDriver.aop"  class="chosen-select input-md form-control" ng-options="item.id as item.name for item in aop_values">
                                        <option value="">-- Select an option--</option>
                                    </select>
                                </div>
                                <div class="form-group right-div">
                                    <label  class="control-label">Usual Hours Of Operation</label>

                                    <select required ="required" ng-model="approveDriver.usual_hours_of_op"  class="chosen-select input-md form-control" ng-options="item.id as item.name for item in usual_hour_values">
                                        <option value="">-- Select an option--</option>
                                    </select>

                                </div>


                            </div>
                            <div style="clear:both"></div>
                            <div class="panel panel-theme">
                                <div class="panel-heading">Taxi License Details</div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group left-div">
                                        <label class="control-label">Type of Taxi License</label><br/>


                            <span class="check">
                                <input type="checkbox"  ng-model="checkbox.value1" ng-checked ="checkboxshow.value1==1" ng-change="getVal1(checkbox.value1)"  >Private Hire
                            </span><br/>
                            <span class="check">
                                <input type="checkbox" ng-model="checkbox.value2" ng-checked ="checkboxshow.value2==1" ng-change="getVal2(checkbox.value2)">Taxi (Hackney)
                            </span><br/>
                            <span class="check">
                                <input type="checkbox" ng-model="checkbox.value3" ng-checked ="checkboxshow.value3==1" ng-change="getVal3(checkbox.value3)">Aberdeen Airport
                            </span><br/>
                            <span class="check">
                                <input type="checkbox"  ng-model="checkbox.value4" ng-checked ="checkboxshow.value4==1" ng-change="getVal4(checkbox.value4)">Aberdeen Train Station
                            </span><br/>


                                    </div>
                                    <div class="form-group right-div">
                                        <label class="control-label">Taxi License</label>

                                        <div class="fileUpload btn btn-info">
                                            <span>Upload</span>
                                            <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,1)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                        </div>
                                        <span>{{taxi_license_name}}</span>
                                        <div class="form-group">
                                            <img class='uploaded_img' ng-src={{uploaded_taxi_license_img}}  style="width:100px;height:100px" id="taxi_license_image"/>
                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">Taxi License Number</label>
                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.taxi_license_num"/>


                                        </div>



                                    </div>


                                </div>
                                <div style="clear:both"></div>
                                <div>
                                    <div class="form-group left-div" style="width:35%">
                                        <label class="control-label"> Taxi License Start Date</label>
                                        <div class='input-group date' id='taxi_lic_start_date'>
                                            <input type='text' class="form-control" ng-model="approveDriver.taxi_lic_start_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group right-div" style="width:35%;margin-left:13%">
                                        <label class="control-label"> Taxi License Expiry Date</label>
                                        <div class='input-group date' id='taxi_lic_expiry_date'>
                                            <input type='text' class="form-control"  ng-model="approveDriver.taxi_lic_expiry_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                        </div>

                                    </div>


                                </div>
                                <div style="clear:both"></div>
                                <div>
                                    <div class="form-group left-div">
                                        <label class="control-label">Licensing Authority Driver ID</label>
                                        <div class="fileUpload btn btn-info">
                                            <span>Upload</span>
                                            <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,2)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                        </div>
                                        <span>{{license_authority_img_name}}</span>
                                        <div class="form-group">
                                            <img class='uploaded_img' ng-src={{uploaded_license_authority_img}}  style="width:100px;height:100px" id="license_authority_image"/>
                                        </div>

                                    </div>
                                    <div class="form-group right-div">
                                        <label class="control-label">Licensing Authority Vehicle Test Certificate</label>
                                        <div class="fileUpload btn btn-info">
                                            <span>Upload</span>
                                            <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,3)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                        </div>
                                        <span>{{license_authority_certificate_img_name}}</span>
                                        <div class="form-group">
                                            <img class='uploaded_img' ng-src={{uploaded_license_authority_certificate_img}}  style="width:100px;height:100px" id="license_authority_certificate_image"/>
                                        </div>

                                    </div>


                                </div>
                                <div style="clear:both"></div>
                                <div class="panel panel-theme">
                                    <div class="panel-heading">Vehicle Details</div>
                                </div>
                                <div>
                                    <div>
                                        <div class="form-group left-div">
                                            <label class="control-label">Vehicle Make</label>

                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.vehicle_make"/>
                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">Vehicle Model</label>
                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.vehicle_model"/>

                                        </div>

                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="form-group left-div">
                                        <label class="control-label">Vehicle Emissions</label>
                                        <input type="text" name="vehicle_emissions" required="required" class="form-control"
                                               ng-model="approveDriver.vehicle_emissions" data-parsley-type="number"/>
                                    </div>
                                    <div class="form-group right-div">
                                        <label class="control-label">CO2 Produced (per mile)</label>
                                        <input type="text" name="co2_produced" required="required" class="form-control"
                                               ng-model="approveDriver.co2_produced" data-parsley-type="number" data-parsley-max="180"/>
                                    </div>

                                    <div>

                                        <div class="form-group left-div">
                                            <label class="control-label">Vehicle Registration</label>
                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.vehicle_reg"/>

                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">Engine Size</label>

                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.engine_size"/>
                                        </div>


                                    </div>
                                    <div style="clear:both"></div>
                                    <div>

                                        <div class="form-group left-div">
                                            <label class="control-label">Fuel Type</label>
                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.fuel_type"/>

                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">No. of Seats</label>

                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="digits"
                                                   ng-model="approveDriver.no_of_seats"/>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="form-group left-div">
                                            <label class="control-label">Vehicle Number</label>
                                            <input type="text" name="vehicle_num" required="required" class="form-control"
                                                   ng-model="approveDriver.vehicle_num" data-parsley-type="alphanum"/>
                                        </div>
                                        <div class="form-group right-div" ng-controller="CarController">
                                            <label class="control-label" placeholder="Select-car">Car Type</label>
                                            <select name="account" class="form-control" ng-model="approveDriver.car_type">
                                                <option ng-repeat="cars in list" ng-value="cars.car_type" ng-selected="cars.car_type == approveDriver.car_type">{{cars.car_name}}</option>
                                            </select>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="form-group left-div">
                                            <label class="control-label">Upload Vehicle Image</label>
                                            <div class="fileUpload btn btn-info">
                                                <span>Upload</span>
                                                <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,5)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                            </div>
                                            <span>{{vehicle_image_name}}</span>
                                            <div class="form-group">
                                                <img  class='uploaded_img' ng-src={{uploaded_vehicle_img}}  style="width:100px;height:100px" id="car_image"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="clear:both"></div>
                                    <div>

                                        <div class="form-group left-div">
                                            <label class="control-label">Name Of Vehicle Insurer</label>
                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.vehicle_insurer_name"/>

                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">Vehicle Insurance Policy Number</label>

                                            <input type="text" name="validity_window" required="required" class="form-control" data-parsley-type="alphanum"
                                                   ng-model="approveDriver.vehicle_insurance_policy_number"/>
                                        </div>


                                    </div>
                                    <div style="clear:both"></div>
                                    <div>

                                        <div class="form-group left-div">
                                            <label class="control-label">Vehicle Insurance Certificate</label>
                                            <div class="fileUpload btn btn-info">
                                                <span>Upload</span>
                                                <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files,4)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                                            </div>
                                            <span>{{vehicle_insurance_certi_img_name}}</span>
                                            <div class="form-group">
                                                <img  class='uploaded_img' ng-src={{uploaded_vehicle_insurance_certi_img}}  style="width:100px;height:100px" id="vehicle_insurance_certi_img"/>
                                            </div>

                                        </div>
                                        <div class="form-group right-div" style="width:35%">
                                            <label class="control-label"> Vehicle Insurance Start Date</label>
                                            <div class='input-group date' id='vehicle_insurance_start_date'>
                                                <input type='text' class="form-control" ng-model="approveDriver.vehicle_insurance_start_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                            </div>
                                        </div>


                                    </div>
                                    <div style="clear:both"></div>
                                    <div>

                                        <div class="form-group left-div" style="width:50%;">
                                            <label class="control-label"> Vehicle Insurance Expiry Date</label>
                                            <div class='input-group date' id='vehicle_insurance_expiry_date'>
                                                <input type='text' class="form-control" ng-model="approveDriver.vehicle_insurance_expiry_date"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                            </div>

                                        </div>
                                        <div class="form-group right-div">
                                            <label class="control-label">Driver Commission ( % )</label>
                                            <input type="text" name="driver_comission" required="required" class="form-control"
                                                   ng-model="approveDriver.driver_commission" data-parsley-type="digits" data-parsley-max="100" data-parsley-min="1"/>

                                        </div>


                                    </div>
                                    <div style="clear:both"></div>





                                </div>

                            </div>
                            <div class="panel-footer" style="text-align:center">
                                <button type="submit"  class="btn btn-primary">Submit</button>



                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6" style=' margin: auto;float: none;'>

                                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">{{successMsg}}</div>
                                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">{{errorMsg}}</div>

                                </div>
                            </div>
                            <!-- END panel-->
        </form>



    </div>
    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->

    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
    <script>
        $('#dateofbirth').datepicker({
            format: 'dd/mm/yy',
            endDate:new Date(),
            autoclose: true
        });

        $("#lic_start_date").datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            endDate: new Date()
        });
        $('#taxi_lic_start_date').datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            endDate: new Date()
        });
        $('#lic_expiry_date').datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            startDate:new Date()
        });
        $('#taxi_lic_expiry_date').datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            startDate:new Date()
        });
        $('#vehicle_insurance_expiry_date').datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            startDate:new Date()
        });
        $('#vehicle_insurance_start_date').datepicker({
            viewMode: "years",
            minViewMode: "months",
            format : 'mm/yy',
            autoclose: true,
            endDate:new Date()
        });




    </script>
</div>