<h3>
    Booked Later Requested rides
    <small>Displaying list of all Ongoing rides</small>
</h3>
<div ng-controller="BkRequestedRidesController" class="container-fluid">
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <!--<div class="alert alert-success" id="request_progress" style="width: 50%;float: left;">-->
                    <!--<h4> Current rides request are in progress list </h4>-->
                    <!--</div>-->

                    <a id="ridescsv" ng-click="exportData()" ng-show="showcsvbtn" class="pull-right btn btn-sm btn-info">Export To CSV</a>
                    <div style="clear:both"></div>
                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="requested_datatable" class="table  table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Booking ID </th>
                            <th>Ride ID</th>
                            <th>Ride Status</th>
                            <th>Car Type</th>
                            <th>Requested Time</th>
                            <th>Pickup Time</th>
                            <th>Booking Details</th>
                            <th>Pickup/destination address</th>
                            <th>Passenger Details</th>
                            <th>Fare Details</th>
                            <th>Comments</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <!-- ***************************************************************************
    ******************* Modal for force stop ongoing ride **************************
    ********************************************************************************-->
    <script type="text/ng-template" id="force_stop_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to complete this ride?</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="completeRide()" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
 ******************* Modal to display msg **************************************
 *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="closePopup()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

</div>


<!-- ***************************************************************************
******************* Modal for force stop ongoing ride **************************
********************************************************************************-->
<script type="text/ng-template" id="charge_confirm">
    <div class="ngdialog-message">
        <h4>Do you want to charge for this ride?</h4>
        <div >
            <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                <button type="submit" ng-click="chargeCancelledRide(1)" class="btn btn-primary" >Yes</button>
                <button type="button" ng-click="chargeCancelledRide(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
            </form>
        </div>
    </div>
</script>
