
<h3 xmlns="http://www.w3.org/1999/html">
    Blog Management
    <small>List of all Blogs</small>
</h3>
<div ng-controller="blogController" ng-init='showList()'class="container-fluid">
    <h3>
        <a target="_blank" ng-href="#/app/updateBlog/" class="btn btn-primary pull-right head_button">Add Blog</a>
    </h3>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Blog ID</th>
                            <th>Title</th>
                            <th>Blog Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in blogs">
                            <td>{{data.blogId}}</td>
                            <td>{{data.title}}</td>
                            <td><div class="media"><img src={{data.mainImg}} class="img-responsive" /></div></td>
                            <td>
                                <a class="btn btn-sm btn-default" ng-href ="#/app/updateBlog/{{data.blogId}}"
                                   title="Edit Profile">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-click="confirmDelete(data.blogId)"
                                   title="Delete">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_admin_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search" readonly/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search" readonly/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <!-- ***************************************************************************
    ******************* Modal for delete admin ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="confirmDelete">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this blog?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="" id="approve-driver" >
                    <button type="submit" ng-click="deleteBlog() " class="btn btn-primary" >Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="$state.reload() && closeThisDialog(0) " class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>



</div>