<div class="block-center mt-xl wd-xl" ng-controller="ChanePasswordController">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            CHANGE PASSWORD
        </div>
        <div class="panel-body">
            <form role="form" ng-submit="changePassword()" validate-form="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    Old Password
                    <input type="password"  placeholder="Enter password" class="form-control" ng-model="changePass.old_password"  required="required"/>
                </div>
                <div class="form-group has-feedback">
                    New Password
                    <input type="password" id="admin_pass"  placeholder="Enter new password" class="form-control" ng-model="changePass.new_password" data-parsley-minlength="6" required="required"/>
                </div>
                <div class="form-group has-feedback">
                    Confirm New Password
                    <input type="password"  placeholder="Enter confirm password" class="form-control" data-parsley-equalto ="#admin_pass" ng-model="changePass.confirmpassword" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
            <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
</div>