<h3>
    Corporate Admins
    <small>Displaying list of all the corporate admins in the system.</small>


</h3>

<div ng-controller="CorporateController" class="container-fluid">
    <h3>
        <a href="" ng-click="AddCorporateDialog()" class="btn btn-primary pull-right head_button">Add Corporate Admin</a>
    </h3>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Active Members</th>
                            <th>Phone No</th>
                            <th>Account Name</th>
                            <th>Contact Name</th>
                            <th>Contact Address</th>
                            <th>PO Number</th>

                            <th>Total Amount</th>
                            <th>Amount Left</th>
                            <th>Action</th>
                            <th>View</th>
                            <th>Block Unblock</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in corporatelist">

                            <td>{{data.user_name}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.active_members}}</td>
                            <td>{{data.phone_no}}</td>
                            <td>{{data.account_name}}</td>
                            <td>{{data.contact_name}}</td>
                            <td>{{data.contact_address}}</td>
                            <td>{{data.po_number}}</td>

                            <td>{{data.total_money}}</td>
                            <td>{{data.money_left}}</td>

                            <td>
                               <button class="btn btn-primary" ng-click="pay(data.user_id,data.email,data.money_left)">Invoice</button>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-default" ng-href ="#{{data.invoice_list_url}}"
                                   title="View Engagements">
                                    <i class="fa fa-eye pencil-icon"></i>
                                </a>
                            </td>

                            <td>
                                <!-- data.is_blocked =0 means driver is unblock do it block -->
                                <a class="btn btn-sm btn-default" title="block" ng-hide="{{data.isblock}}" ng-click="blockunblockdriver_popup(1,data.user_id)">
                                    <i class="fa fa-unlock unblock-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" title="unblock" ng-show="{{data.isblock}}" ng-click="blockunblockdriver_popup(0,data.user_id)">
                                    <i class="fa fa-lock block-icon"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-default" ng-click="deletecorp_dialog(data.user_id)"
                                   title="Delete">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="User Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Email ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Active Members"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Phone No."
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Account Name."
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Contact Name."
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Contact Address"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="PO Number"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Total Fare"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings" placeholder="Money Left"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_average_rating" placeholder="Invoice" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_average_rating" placeholder="View" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_block" placeholder="Block/Unblock" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="Delete" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <!-- ***************************************************************************
     ******************* Modal for add driver **************************************
     ***************************************************************************-->
    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3>Add Corporate Account</h3>
            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="myForm.$valid && submit(addcorporateAdmin)">
                    <div ng-show="addcorporateAdmin.successMsg" class="alert alert-success text-center">{{addcorporateAdmin.successMsg}}</div>
                    <div ng-show="addcorporateAdmin.errorMsg" class="alert alert-danger text-center">{{addcorporateAdmin.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text" name="corporate_name" class="form-control"  required="required"  ng-model="addcorporateAdmin.name"
                                   placeholder='Name' ng-pattern="/^[a-zA-Z ]*$/"/>

                        </div>
                        <span ng-show="myForm.corporate_name.$error.pattern" class="ng-error">This value should be a valid name.
                        </span>
                        <div class="form-group">

                            <input type="email" name="corporate_email" class="form-control"  required="required"  ng-model="addcorporateAdmin.email" data-parsley-type="email"
                                       placeholder='Email-ID '/>
                        </div>

                        <div class="form-group">
                            <div style="float: left;background: rgb(238,241,242);padding:5px;">+</div>
                            <input type="text" name="corporate_phn_no" class="form-control"  required="required"  ng-model="addcorporateAdmin.phone_no" data-parsley-type="digits"
                                   style="float: right;width: 91%;margin-bottom: 15px;"    placeholder='Enter your contact number with country code ' data-parsley-maxlength="12"/>
                        </div>
                        <div style="clear:both"></div>
                        <div class="form-group">
                        <div class="alert alert-success text-center">Account Details</div>
                            </div>
                        <div class="form-group">
                            <input type="text" name="account_name" class="form-control"  required="required"  ng-model="addcorporateAdmin.account_name"
                                   placeholder='Account Name '/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact_name" class="form-control"  required="required"  ng-model="addcorporateAdmin.contact_name"
                                   placeholder='Contact Name  ' ng-pattern="/^[a-zA-Z ]*$/"/>
                        </div>
                         <span ng-show="myForm.contact_name.$error.pattern" class="ng-error">This value should be a valid name.
                        </span>
                        <div class="form-group">
                            <input type="text" name="contact_address" class="form-control"  required="required"  ng-model="addcorporateAdmin.contact_address"
                                   placeholder='Contact Address '/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="po_number" class="form-control"  required="required"  ng-model="addcorporateAdmin.po_number"
                                   placeholder='PO Number '/>
                        </div>

                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <!-- ***************************************************************************
    ******************* Modal for delete driver ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="delete_corp_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this Corporate Admin?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate=""  >
                    <button type="submit" ng-click="deletecorp_admin(delete_corp_id)" class="btn btn-primary" >Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <button type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-primary"
                    style="margin-top:20px;float:right;">OK</button>
            <div style="clear: both;"></div>
        </div>
    </script>

    <!-- ***************************************************************************
    ******************* Modal for block unblock driver ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="block_unblock_driver_modalDialog">
        <div class="ngdialog-message">
            <h4>{{blockunblockmsg}}</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="do_block_unblock_driver(is_blocked,blockunblockid)" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>




</div>