<h3>
    Dashboard
    <small>{{ 'Welcome to ' + app.name}}!</small>
</h3>
<div ng-controller="DashboardReportController">

    <div class="row" ng-if="data">
        <div class="col-lg-12">
            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Statistics</h4></div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg dashboard-data">
                        <div class="h2 mt0">{{data.usersData.totalUsers}}
                        </div>
                        <div class="text-uppercase ">Total Users</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg dashboard-data">
                        <div class="h2 mt0">{{data.usersData.customersFromAdmin}}
                        </div>
                        <div class="text-uppercase ">Total Customers from admin</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg dashboard-data">
                        <div class="h2 mt0">{{data.usersData.customersFromApp}}
                        </div>
                        <div class="text-uppercase ">Total Customers from app</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" ng-if="data">

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon-users fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg dashboard-data">
                        <div class="h2 mt0">{{data.usersData.LastMonthCustomersFromApp}}
                        </div>
                        <div class="text-uppercase ">Last Month Customers Registrations from App</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.usersData.paymentAddedCustomerFromApp}}</div>
                        <div class="text-uppercase">Payment Added Customers From App</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary-dark">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="fa fa-gbp fa-3x phone"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.usersData.phoneVerifiedCustomerFromApp}}</div>
                        <div class="text-uppercase">Phone Verified Customers From App</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END widgets box-->

    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Rides Total</h4></div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-info">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-info-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalRideRequests}}</div>
                        <div class="text-uppercase">Total Rides Requests</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalAcceptedRides}}
                        </div>
                        <div class="text-uppercase">Total Rides Accepted</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-warning">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalRideRequests-data.ridesData.totalAcceptedRides}}
                        </div>
                        <div class="text-uppercase">Total Rides Missed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-pink">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-pink-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalCashRides}}
                        </div>
                        <div class="text-uppercase">Total Cash Rides</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-warning">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalCardRides}}
                        </div>
                        <div class="text-uppercase">Total Card Rides</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Rides Today</h4></div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.todayRequests}}</div>
                        <div class="text-uppercase">Today Rides Requests</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.todayAcceptedRides}}
                        </div>
                        <div class="text-uppercase">Today Rides Accepted</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-danger">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                        <em class="fa fa-car fa-3x car"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.todayRequests-data.ridesData.todayAcceptedRides}}
                        </div>
                        <div class="text-uppercase">Today Rides Missed</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Total Revenue</h4></div>
            </div>

        </div>

        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-green">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green-dark pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.totalMoneyEarned}}</div>
                        <div class="text-uppercase">Total Money Earned</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Today Revenue</h4></div>
            </div>

        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-green-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.todayMoneyEarned}}</div>
                        <div class="text-uppercase">Today Money Earned</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- yesterday statistics -->
    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Yesterday Report</h4></div>
            </div>

        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary pv-lg">
                        <em class="fa fa-car fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.yesterdayRequests}}</div>
                        <div class="text-uppercase">Total Requests</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary pv-lg">
                        <em class="fa fa-car fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.yesterdayAcceptedRides}}</div>
                        <div class="text-uppercase"> Total Accepted Rides</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-primary-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.yesterdayMoneyEarned}}</div>
                        <div class="text-uppercase"> Total Money Earned</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- last month statistics -->
    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>Last Month Report</h4></div>
            </div>

        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple pv-lg">
                        <em class="fa fa-car fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.lastMonthAcceptedRides}}</div>
                        <div class="text-uppercase">Rides Accepted</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-purple-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.lastMonthMoneyEarned}}</div>
                        <div class="text-uppercase"> Total Money Earned</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- this month statistiscs -->
    <div class="row" ng-if="data">
        <div class="col-lg-12">

            <div class="panel panel-default home-panel">
                <div class="panel-heading"><h4>This Month Report</h4></div>
            </div>

        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-green-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <em class="fa fa-car fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.thisMonthAcceptedRides}}</div>
                        <div class="text-uppercase">Rides Accepted</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-12 col-sm-12">
            <!-- START widget-->
            <div class="panel widget bg-green-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <em class="fa fa-gbp fa-3x dollar"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{data.ridesData.thisMonthMoneyEarned}}</div>
                        <div class="text-uppercase"> Total Money Earned</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
