<h3>
    Email Templates
    <small>Displaying list of all the templates</small>
</h3>

<div ng-controller="EmailTemplateController" ng-init= 'viewAllTemplate()' class="container-fluid">
    <h3>
        <a  ng-href="#/app/updateEmailTemplate" class="btn btn-primary pull-left head_button">Add New Template</a>
    </h3>
    <!-- START DATATABLE 2 -->
    <div class="row col-lg-12 col-md-12">

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Template Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td>

                                <a class="btn btn-sm btn-default" ng-click="updateEmailTempShow(data)"
                                   title="Edit">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>

                                <a class="btn btn-sm btn-default" ng-click="deleteEmailTemplatePopup(data.id)"
                                   title="Delete">
                                    <i class="fa fa-trash block-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-click="sendMailPopup(data)"
                                   title="Delete">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Id"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="ACTIONS"
                                       class="form-control input-sm datatable_input_col_search" readonly=""/>
                            </th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6" ng-show="updateFlag">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Update Messaging Templates</div>
                    <hr>
                </div>
                <form method="post" validate-form="" novalidate="" ng-submit="updateEmailTemplate(template,1)">
                    <!-- START panel-->

                    <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Enter Email Name<span class="astrick">*</span></label>
                            <input type="text" required="required" class="form-control"
                                   ng-model="template.name"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email Template HTML<span class="astrick">*</span></label>
                        <textarea type="text" required="required" class="form-control msd-elastic"
                                  elastic ng-model="template.email_template_html" style="min-height:50px" />
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Update Email Template</button>
                    </div>
                    <!-- END panel-->
                </form>
            </div>
            <div  ng-show="template.email_template_html">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Email Template HTML</div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <span ng-bind-html="template.email_template_html"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->


    <!-- ***************************************************************************
    ******************* Modal for delete driver ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="deleteTemplateConfirm">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this template?</h4>

            <div style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="">
                    <button type="submit" ng-click="deleteTemplate(template_id)" class="btn btn-primary">Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default"
                            style='margin-left:20px;'>Cancel
                    </button>
                </form>
            </div>
        </div>
    </script>
    <!-- ***************************************************************************
 ******************* Modal for send mail**************************************
 ***************************************************************************-->
    <script type="text/ng-template" id="sendMailPopup">
        <div class="ngdialog-message">
            <h3>Send Mail To Users</h3>
            <div class="panel panel-default">
                <form method="post" validate-form="" novalidate="" ng-submit="sendMailSubmit(sendMail)">
                    <div ng-show="sendMail.successMsg" class="alert alert-success text-center">{{sendMail.successMsg}}</div>
                    <div ng-show="sendMail.errorMsg" class="alert alert-danger text-center">{{sendMail.errorMsg}}</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">
                                <input type="radio" ng-model="sendMail.flag" value="0">
                                Select All
                            </label>
                            <label class="control-label" style="margin-left:10%">
                                <input type="radio" ng-model="sendMail.flag" ng-value="1">
                                Select User
                            </label>
                            <input type="text"  name="users" class="form-control"
                                   ng-model="sendMail.user"  ng-hide="sendMail.flag == 0"/>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text"  name="subject" class="form-control"
                                   ng-model="sendMail.subject" required="required" />
                        </div>
                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary">Send Mail</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>


        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>


</div>