<h3>
    Engagement List
    <small>Displaying list of all the engagements of a Promo Code.</small>
</h3>
<div ng-controller="EngagementController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pick Up Location Address</th>
                            <th>Drop Off Location Address</th>
                            <th>Net Amount</th>
                            <th>Discount</th>
                            <th>Paid Amount</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.engagement_id}}</td>
                            <td>{{data.pick_up_location}}</td>
                            <td>{{data.drop_off_location}}</td>
                            <td>{{data.net_amount}}</td>
                            <td>{{data.discount}}</td>
                            <td>{{data.paid_amount}}</td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Engagement ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Pick Up Location"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Drop Off Location"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Net Amount"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Discount"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>


                            <th>
                                <input type="text" name="filter_average_rating" placeholder="Paid Amount"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>


                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->




</div>

