<h3>
    Fares
    <small>Add Car Fare</small>
</h3>
<div class="row" ng-controller="CarController">
    <div class="col-lg-6">
        <form method="post" validate-form="" novalidate="" ng-submit="addCarFare(cars)" id="add-promo">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Add Car Fare</div>
                </div>
                <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label" placeholder="Select-car">Car Type<span class="astrick">*</span></label>
                        <select name="account" class="form-control" ng-model="select_car" ng-change="set()">
                            <option ng-repeat="cars in list"  ng-value="{{cars.car_type}}" >{{cars.car_name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Car Fare(Per Min)<span class="astrick">*</span></label>
                        <input type="text" name="start_date" required="required" class="form-control" data-parsley-type="number"
                               ng-model="cars.fare_per_min"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Car Fare(Per Mile)<span class="astrick">*</span></label>
                        <input type="text" name="end_date" required="required" class="form-control" data-parsley-type="number"
                               ng-model="cars.fare_per_km"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Base Fare <span class="astrick">*</span></label>
                        <input type="text" name="num_coupons" required="required" class="form-control" data-parsley-type="number"
                               ng-model="cars.fare_fixed"/>
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Update Fare</button>
                </div>
            </div>
            <!-- END panel-->
        </form>
    </div>
</div>