<h3>
    Help & FAQ
    <small></small>
</h3>
<div  ng-controller="HelpFaqController" class="portlets-wrapper">
    <div id="portlet-2" portlet="portlet" class="col-lg-12">
        <!-- START panel-->

        <div  class="row">
            <div class="col-lg-12">
                <header class="panel-heading tab-bg-dark-navy-blue" >
                    <ul class="nav nav-tabs">
                        <li  id="nav1" class="active" ng-click="changeTabValue(1)">
                            <a data-toggle="tab" href >
                                <i class="fa fa-info"></i>
                                About Us
                            </a>
                        </li>
                        <li class="" id="nav2"  ng-click="changeTabValue(2)">
                            <a data-toggle="tab" href >
                                <i class="fa fa-question"></i>
                                FAQ
                            </a>
                        </li>
                        <li class="" id="nav3"  ng-click="changeTabValue(3)">
                            <a data-toggle="tab" href >
                                <i class="icon-user"></i>
                                Terms & Conditions
                            </a>
                        </li>
                        <li class="" id="nav4"  ng-click="changeTabValue(4)">
                            <a data-toggle="tab" href >
                                <i class="fa fa-file"></i>
                                Privacy Policy
                            </a>
                        </li>
                        <li class="" id="nav5"  ng-click="changeTabValue(5)">
                            <a data-toggle="tab" href >
                                <i class="fa fa-money"></i>
                                Fare Details
                            </a>
                        </li>
                    </ul>
                </header>
            </div>
        </div>


        <div  class="row">
            <div class="col-lg-12">
                <!--    tab1-->
                <div style="background: white;padding:10px;" ng-show="show_tab1">
                    <button class="btn btn-danger" type="button" ng-click="editAboutUs()" style="float:right;width: 85px;" ng-show="hides_how_about_btn">
                        <i class="icon-edit"></i> Edit
                    </button>
                    <div style="clear:both"></div>
                    <span ng-bind-html="about_us_data"  ng-show="hides_how_about_btn"></span>
                    <!--<div id="edit_about_us" ng-hide="hides_how_about_btn"></div>-->
                    <textarea class='form-control'  ng-model="about_us_data"  ng-hide="hides_how_about_btn" style="height: 200px; margin-bottom: 20px;">
                        </textarea>

                    <div style="text-align: center;" ng-hide="hides_how_about_btn">
                        <button class="btn btn-danger" type="button" ng-click="submitAboutUs()"  style="width: 85px;">Done</button>
                    </div>
                </div>

                <!--tab2-->
                <div style="background: white;padding:10px;" ng-show="show_tab2">
                    <button class="btn btn-danger" type="button" ng-click="editHelp()" style="float:right;width: 85px;" ng-show="hide_show_faq_btn">
                        <i class="icon-edit"></i> Edit
                    </button>
                    <div style="clear:both"></div>
                    <span ng-bind-html="help_data"  ng-show="hide_show_faq_btn"></span>
                    <!--<div id="help" ng-show="hide_show_faq_btn"></div>-->
                    <textarea class='form-control'  ng-model="help_data"  ng-hide="hide_show_faq_btn" style="height: 200px; margin-bottom: 20px;">
                        </textarea>
                    <!--<div id="edit_help" ng-hide="hide_show_faq_btn"></div>-->
                    <div style="text-align: center;" ng-hide="hide_show_faq_btn">
                        <button class="btn btn-danger" ng-click="submitHelp()" type="button" style="width: 85px;">Done</button>
                    </div>
                </div>

                <!--tab3-->
                <div style="background: white;padding:10px;" ng-show="show_tab3">
                    <button class="btn btn-danger" type="button" ng-click="editTerms()" style="float:right;width: 85px;" ng-show="hide_show_terms_btn">
                        <i class="icon-edit"></i> Edit
                    </button>
                    <div style="clear:both"></div>
                    <span ng-bind-html="terms_data"  ng-show="hide_show_terms_btn"></span>
                    <textarea class='form-control'  ng-model="terms_data"  ng-hide="hide_show_terms_btn" style="height: 200px; margin-bottom: 20px;">
                        </textarea>
                    <div style="text-align: center;" ng-hide="hide_show_terms_btn">
                        <button class="btn btn-danger" ng-click="submitTerms()" type="button" style="width: 85px;">Done</button>
                    </div>
                </div>

                <!--tab4-->
                <div style="background: white;padding:10px;" ng-show="show_tab4">
                    <button class="btn btn-danger" type="button" ng-click="editPolicy()" style="float:right;width: 85px;" ng-show="hide_show_policy_btn">
                        <i class="icon-edit"></i> Edit
                    </button>
                    <div style="clear:both"></div>
                    <span ng-bind-html="policy_data"  ng-show="hide_show_policy_btn"></span>
                    <textarea class='form-control'  ng-model="policy_data"  ng-hide="hide_show_policy_btn" style="height: 200px; margin-bottom: 20px;">
                        </textarea>
                    <div style="text-align: center;" ng-hide="hide_show_policy_btn">
                        <button class="btn btn-danger" ng-click="submitPolicy()" type="button" style="width: 85px;">Done</button>
                    </div>
                </div>

                <!--tab5-->
                <div style="background: white;padding:10px;" ng-show="show_tab5">
                    <button class="btn btn-danger" type="button" ng-click="editFare()" style="float:right;width: 85px;" ng-show="hide_show_fare_btn">
                        <i class="icon-edit"></i> Edit
                    </button>
                    <div style="clear:both"></div>
                    <span ng-bind-html="fare_data"  ng-show="hide_show_fare_btn"></span>
                    <textarea class='form-control'  ng-model="fare_data"  ng-hide="hide_show_fare_btn" style="height: 200px; margin-bottom: 20px;">
                        </textarea>
                    <div style="text-align: center;" ng-hide="hide_show_fare_btn">
                        <button class="btn btn-danger" ng-click="submitFare()" type="button" style="width: 85px;">Done</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="updateDocument()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

</div>