<h3>
    Interested Drivers
    <small>Displaying list of all the Interested drivers in the system.</small>


</h3>

<div ng-controller="interestedDriversController" class="container-fluid">
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2"  class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Contact no.</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.contact}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.city}}</td>
                            <td><a class="btn btn-sm btn-default"
                                   title="Add" ng-click="addConfirmation(data)">
                                <i class="fa fa-check text-success"></i>
                            </a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder=" Contact"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Email"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="city"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_edit_driver" placeholder="Actions" readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
    <!--confirmation of add intersted driver-->
    <script type="text/ng-template" id="confirmResolve">
        <div class="ngdialog-message">
            <h4>Are you sure you want to add this driver?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="">
                    <button type="submit" ng-click="addDriver(id)" class="btn btn-primary" >Add</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
     ******************* Modal to display msg **************************************
     *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
</div>