<h3>
    Admin
    <small>Displaying list of all admins in the system.</small>


</h3>

<div ng-controller="ListAdminController" class="container-fluid">
    <h3>
        <a target="_blank" ng-href="#/app/add-admin" class="btn btn-primary pull-right head_button">Add Admin</a>
    </h3>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>User Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td>{{data.name}}</td>
                            <td>{{data.user_name}}</td>
                            <td>{{data.contact}}</td>
                            <td>{{data.user_email}}</td>
                            <td>{{data.admin_type}}</td>
                            <td width="15%">
                                <a class="btn btn-sm btn-default" ng-href ="#{{data.edit_admin_url}}"
                                   title="Edit Profile">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-href ="#{{data.view_admin_url}}"
                                   title="View Profile">
                                    <i class="fa fa-eye pencil-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-click="deleteadmin_popup(data.admin_id)"
                                   title="Delete">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_admin_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_admin_email" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="" readonly
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <!-- ***************************************************************************
     ******************* Modal for add admin **************************************
     ***************************************************************************-->
    <script type="text/ng-template" id="modalToAddAdmin">
        <div class="ngdialog-message">
            <h3>Add Admin</h3>
            <div class="panel panel-default">
                <form name ="myForm" method="post" validate-form="" novalidate="" id="add-admin" ng-submit="submit(addAdmin)">
                    <div ng-show="addAdmin.successMsg" class="alert alert-success text-center">{{addAdmin.successMsg}}</div>
                    <div ng-show="addAdmin.errorMsg" class="alert alert-danger text-center">{{addAdmin.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="email" name="admin_email" class="form-control"  required="required"  ng-model="addAdmin.email" data-parsley-type="email"
                                   placeholder='Enter the email-id of admin'/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="user_name" class="form-control"  required="required"  ng-model="addAdmin.name"
                                   placeholder='Enter the username' ng-pattern="/^[a-zA-Z ]*$/"/>
                        </div>
                         <span ng-show="myForm.user_name.$error.pattern" class="ng-error">This value should be a valid name.
                        </span>
                        <select required ="required" ng-model="addAdmin.type_of_admin"  class="chosen-select input-md form-control" ng-options="item as item.name for item in type_of_admin">
                            <option value="">-- Select an option--</option>
                        </select>
                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Add</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <!-- ***************************************************************************
    ******************* Modal for delete admin ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="delete_admin_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this admin?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="" id="approve-driver" >
                    <button type="submit" ng-click="delete_admin()" class="btn btn-primary" >Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>



</div>