<h3>
    Completed Rides
    <small>Displaying list of all completed rides</small>
</h3>
<div ng-controller="MissedRidesController" class="container-fluid">

    <div class="col-lg-12 col-md-12">
        <form ng-submit="addfilter()" name = "myform">
            <div class="panel panel-default filter_border" >
                <div class="panel-body">
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px; width:30%;margin:auto">{{errorMsg}}</div>
                    <div class="col-lg-3 col-md-3">
                        <h5>Start Date<span class="astrick">*</span></h5>


                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="rides.start_date"
                                   is-open="opened"
                                   max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="start_date"/>
    <span class="input-group-btn">
    <button type="button" ng-click="open($event)" class="btn btn-default">
        <em class="fa fa-calendar"></em>
    </button>
    </span>

                        </p>


                    </div>

                    <div class="col-lg-3 col-md-3">
                        <h5>End Date<span class="astrick">*</span></h5>

                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="rides.end_date"
                                   is-open="opened1"
                                   max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="end_date"/>
    <span class="input-group-btn">
    <button type="button" ng-click="open1($event)" class="btn btn-default">
        <i class="fa fa-calendar"></i>
    </button>
    </span>
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Select User</h5>

                        <select  name ="selectuser" ng-model="rides.user"  class="chosen-select form-control" ng-options="item.id as item.name for item in select_user">
                            <option value="">-- Select User--</option>
                        </select>
                        <!--<span class="ng-error" ng-show="myform.selectuser.$error.required" >This Field is required.</span>-->

                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Enter Name</h5>
                        <input type="text" name="username" class="form-control"
                               ng-model="rides.user_name" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                        <!--<span class="ng-error" ng-show="myform.username.$error.required" >This Field is required.</span>-->
                        <!--<span ng-show="myform.username.$error.pattern" class="ng-error">This value should be a valid name.</span>-->


                    </div>
                    <div class="col-lg-2 col-md-2" style="  margin-top: 35px;">
                        <button type="submit"  class="btn btn-primary"><i class="fa fa-check"></i>Apply Filter</button>
                        <button type="button" class="btn btn-sm btn-primary" ng-click="removeFilter();"><i class="fa fa-times"></i></button>

                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a id="ridescsv" ng-click="exportData()" ng-show="showcsvbtn" class="pull-right btn btn-sm btn-info">Export To CSV</a>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table  table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Cab #</th>
                            <th>Car Type</th>
                            <th>Pick Up Location</th>
                            <th>Drop Off Location</th>
                            <th>Passenger Name</th>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Date/Time</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg_modalDialog">
    <div class="ngdialog-message">
        <h4>{{displaymsg}}</h4>
        <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
        <div style="clear: both;"></div>
    </div>
</script>