<h3>
    Approved Drivers
    <small>Displaying list of all the drivers in the system.</small>


</h3>

<div ng-controller="MyDriverController" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
    <h3>
       <a ng-href="#/app/add-driver" class="btn btn-primary pull-right head_button">Add Driver</a>
    </h3>
            </div>
        </div>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="drivers.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>-->
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2"  class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                            <tr>
                                <th>BrainTree Status</th>
                                <th>Driver ID</th>
                                <th>Name</th>
                                <th> Email</th>
                                <th>Contact</th>
                                <th>Region/Zone</th>
                                <th style="min-width:150px;width:150px;">Earnings</th>
                                <th>Remainig Payment</th>
                                <th style="min-width:150px;width:150px;">Trips</th>
                                <th>Login Status</th>
                                <th>Ratings</th>
                                <th style="min-width: 110px;width:110px;">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr style='background-color: {{data.color}} !important'
                                ng-repeat="data in list">
                                <td>{{data.braintree_status}}</td>
                                <td>{{data.user_id}}</td>
                                <td>{{data.user_name}}</td>
                                <td>{{data.user_email}}</td>
                                <td>{{data.phone_no}}</td>
                                <td>{{data.region}}</td>
                                <td><span class="text-info">Cash:</span><span>${{data.gotTotalCash}}</span><br>
                                    <span class="text-success" >Card:</span><span>${{data.moneyTransferedToAccount}}</span><br>
                                <span class="text-warning">Driver Earning: </span><span>${{data.moneyEarned}}</span><br>
                                 <span class="text-danger">Tip Earning: </span><span>${{data.tipEarned}}</span><br>
                                 <span class="text-success"><b>App Earning: </b></span><span>${{(data.totalMoneyEarned - data.moneyEarned) | limitTo:5 }}</span>
                                    <!--<span>Total </span><span>$0</span>-->
                                </td>
                                <td><span ng-show="data.totalPaymentRemaining" class="glyphicon" ng-class="data.totalPaymentRemaining > 0 ? 'glyphicon-arrow-up text-danger': 'glyphicon-arrow-down text-success'"></span>${{data.totalPaymentRemaining}}</td>
                                <td>
                                    <span class="text-info"><b>Total Requests: </b> </span><span>{{data.totalRequests}}</span><br>
                                    <span class="text-success"><b>Accepted:  </b></span><span>{{data.totalAcceptedRides}}</span><br>
                                    <span class="text-danger"><b>Rejected: </b> </span><span>{{data.totalCancelledRides}}</span><br>
                                    <span class="text-warning"><b>Missed:  </b></span><span>{{data.totalMissedRides}}</span>
                                </td>
                                <td>
                                    <div ng-if="data.status" class="fa fa-circle online">
                                </div>
                                    <div ng-if="!data.status" class="fa fa-circle offline"></div>
                                </td>
                                <td>{{data.totalRating}}</td>
                                <!--<td data-title="'Online Status'">-->

                                    <!--<div ng-if="data.current_user_status">-->
                                        <!--<div ng-if="data.is_available" class="fa fa-circle online">-->
                                        <!--</div>-->
                                        <!--<div ng-if="!data.is_available" class="fa fa-circle offline"></div>-->
                                    <!--</div>-->
                                    <!--<div ng-if="!data.current_user_status" class="fa fa-circle offline"></div>-->



                                <!--</td>-->

                                <!--<td  data-title="'Status'">-->

                                    <!--<div ng-if="data.current_user_status">-->
                                        <!--<div ng-if="data.is_available" class="label label-mini"  ng-class="{'label-danger':data.boolean_status, 'label-success':!data.boolean_status}">-->
                                            <!--{{data.status}}-->
                                        <!--</div>-->
                                        <!--<div ng-if="!data.is_available" class="label label-mini label-inverse">{{data.status}}</div>-->
                                    <!--</div>-->
                                    <!--<div ng-if="!data.current_user_status" class="label label-mini label-inverse">{{data.status}}</div>-->

                                <!--</td>-->

                                <!--<td data-title="'Online Status'"><div class="fa fa-circle" ng-class="{'online':data.current_user_status,'offline':!data.current_user_status}"></div></td>-->

                                <!--<td  data-title="'Status'">-->
                                    <!--<div ng-if="data.current_user_status" class="label label-mini"  ng-class="{'label-danger':data.boolean_status, 'label-success':!data.boolean_status}">-->
                                        <!--{{data.status}}-->
                                    <!--</div>-->
                                <!--<div ng-if="!data.current_user_status" class="label label-mini label-inverse">{{data.status}}</div>-->
                                <!--</td>-->


                                <td>
                                    <a class="btn btn-sm btn-default"  ng-href='#{{data.viewdriver_url}}'
                                       title="View">
                                        <i class="fa fa-eye  pencil-icon"></i>
                                    </a>
                                    <!--<a class="btn btn-sm btn-purple" ng-click="editdriver(data.user_id,data.driver_car_no,data.driver_license_number,data.driver_social_security_number,data.car_type,data.phone_no,data.driver_paypal_id,data.driver_car_image)"-->
                                    <!--title="Edit Driver">-->
                                    <!--<i class="fa fa-edit icon-css"></i>-->
                                    <!--</a>-->
                                    <a class="btn btn-sm btn-default"  ng-href='#{{data.editdriver_url}}'
                                       title="Edit">
                                        <i class="fa fa-pencil icon-css pencil-icon"></i>
                                    </a>
                                    <!-- data.is_blocked =0 means driver is unblock do it block -->
                                    <a class="btn btn-sm btn-default" title="block" ng-hide="data.is_blocked" ng-click="blockunblockdriver_popup(1,data.user_id)">
                                        <i class="fa fa-unlock unblock-icon"></i>
                                    </a>
                                    <a class="btn btn-sm btn-default" title="unblock" ng-show="data.is_blocked" ng-click="blockunblockdriver_popup(0,data.user_id)">
                                        <i class="fa fa-lock block-icon"></i>
                                    </a>
                                    <a class="btn btn-sm btn-default" ng-click="deletedriver(data.user_id)"
                                       title="Delete" style="margin-top:5px">
                                        <i class="fa fa-trash-o block-icon"></i>
                                    </a>
                                    <a class="btn btn-sm btn-default"
                                       title="Change Password" style="margin-top:5px">
                                        <i class="fa fa-asterisk pencil-icon" ng-click = "openPasswordDialog(data.user_id)"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" name="filter_driver_id" placeholder="ID"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_driver_id" placeholder="ID"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_driver_name" placeholder=" Name"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_driver_email" placeholder="Email"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_driver_phone" placeholder="Phone"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_total_trips" placeholder="Earnings"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_total_trips" placeholder="Remainig Payments"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_total_trips" placeholder="Trips"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_total_earnings" placeholder="isLogin"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_total_earnings" placeholder="Ratings"
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                                <th>
                                    <input type="text" name="filter_edit_driver" placeholder="Actions" readonly=""
                                           class="form-control input-sm datatable_input_col_search"/>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

<!-- ***************************************************************************
 ******************* Modal for add driver **************************************
 ***************************************************************************-->
    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3>Add Driver</h3>
            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="myForm.$valid && submit(addDriver)">
                    <div ng-show="addDriver.successMsg" class="alert alert-success text-center">{{addDriver.successMsg}}</div>
                    <div ng-show="addDriver.errorMsg" class="alert alert-danger text-center">{{addDriver.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="email" name="driver_email" class="form-control"  required="required"  ng-model="addDriver.email" data-parsley-type="email"
                            placeholder='Enter the email-id of driver'/>
                        </div>
                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
<!-- ***************************************************************************
******************* Modal for change pass of driver  ***************************
********************************************************************************-->
    <script type="text/ng-template" id="password_dialog">
        <div class="ngdialog-message">
            <h3>Change Password of Driver</h3>

            <div class="panel panel-default">
                <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="changeDriverPass(driver)">
                    <div ng-show="driverpass.successMsg" class="alert alert-success text-center">{{driverpass.successMsg}}</div>
                    <div ng-show="driverpass.errorMsg" class="alert alert-danger text-center">{{driverpass.errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            Password
                            <input type="password" placeholder="Enter password" class="form-control"
                                   ng-model="driver.password" required="required" data-parsley-minlength="6" id="driver_password" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            Confirm Password
                            <input type="password" placeholder="Confirm password" class="form-control"
                                   ng-model="driver.confirmpassword"  data-parsley-equalto ="#driver_password" required="required" />
                        </div>

                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                    </div>
                </form>

            </div>
        </div>

        </script>

 <!-- ***************************************************************************
 ******************* Modal for delete driver ************************************
 ********************************************************************************-->
    <script type="text/ng-template" id="delete_driver_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this driver?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="" id="approve-driver" >
                        <button type="submit" ng-click="delete_driver(delete_driver_id)" class="btn btn-primary" >Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

 <!-- **************************************************************************
 ******************* Modal to display msg **************************************
 *******************************************************************************-->
     <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

<!-- ***************************************************************************
******************* Modal for block unblock driver ************************************
********************************************************************************-->
    <script type="text/ng-template" id="block_unblock_driver_modalDialog">
        <div class="ngdialog-message">
            <h4>{{blockunblockmsg}}</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="do_block_unblock_driver(is_blocked,blockunblockid)" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
******************* Modal to update driver ***********************************
*******************************************************************************-->
    <script type="text/ng-template" id="editDriverDialog">
        <div class="ngdialog-message">
            <h3>Update Driver</h3>

            <div class="panel panel-default">
                <form  name="myForm" ng-submit="myForm.$valid && updateDriver(updateDriverData)" validate-form novalidate >

                    <div class="panel-body">
                        <div class="form-group">
                            <input type="hidden" name="driver_id" class="form-control"
                                   ng-bind="updateDriverData.driver_id"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Vehicle Number</label>
                            <input type="text" name="vehicle_num"  class="form-control"
                                   ng-model="updateDriverData.driver_car_no"  ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">License Number</label>
                            <input type="text" name="license_num" required="required" class="form-control"
                                   ng-model="updateDriverData.driver_license_number" data-parsley-type="alphanum"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Social Security Number</label>
                            <input type="text" name="soc_sec_num" required="required" class="form-control" data-parsley-type="digits"
                                   ng-model="updateDriverData.driver_social_security_number"/>
                        </div>

                        <div class="form-group" ng-controller="CarController">
                            <label class="control-label" placeholder="Select-car">Car Type</label>
                            <select name="type" class="form-control" ng-model="updateDriverData.car_type" required="required" >
                                <option ng-repeat="cars in list" ng-value="cars.car_type" ng-selected="cars.car_type == updateDriverData.car_type">{{cars.car_name}}</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Phone Number</label><br>
                            <!--<input type="text" class="form-control"-->
                                   <!--value="+" ng-disabled="true" style="float: left;width: 20px;padding: 5px;"/>-->
                            <div style="float: left;background: rgb(238,241,242);padding:5px;">+</div>
                            <input type="text" name="phn_no" required="required" data-parsley-type="digits" class="form-control"
                                   ng-model="updateDriverData.phone_no" style="  float: right;width: 91%;" placeholder="phone number with country code"/>
                            <div style="clear:both"></div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="control-label">Driver Paypal ID</label>-->
                            <!--<input type="text" name="paypal_id" required="required" class="form-control" data-parsley-type="email"-->
                                   <!--ng-model="updateDriverData.driver_paypal_id"/>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label">Vehicle Emissions</label>

                            <input type="text" name="vehicle_emissions" required="required" class="form-control"
                                   ng-model="updateDriverData.vehicle_emissions" ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>

                        </div>
                        <div  ng-show="myForm.vehicle_emissions.$error.pattern" style="color:#ff0000">Not a  valid input!</div>

                        <div class="form-group">
                            <label class="control-label">CO2 Produced (per km)</label>
                            <input type="text" name="co2_produced" required="required" class="form-control"
                                   ng-model="updateDriverData.co2_produced" ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>
                        </div>
                        <div  ng-show="myForm.co2_produced.$error.pattern" style="color:#ff0000">Not a  valid input!</div>

                        <div class="form-group">
                            <label class="control-label">Upload Vehicle Image</label>
                            <div class="fileUpload btn btn-info">
                                <span>Upload</span>
                            <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <img ng-src={{uploaded_vehicle_img}}  style="width:100px;height:100px" id="car_image"/>
                        </div>

                     </div>
                    <div class="panel-footer btn-align">
                        <button type="submit"  class="btn btn-primary">Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                        </button>
                        <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">{{successMsg}}</div>
                        <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">{{errorMsg}}</div>
                    </div>
                </form>
            </div>

        </div>


    </script>


</div>