<h3>
   Rides
    <small>Displaying list of all rides</small>
</h3>
<div ng-controller="RidesController" class="container-fluid">
    <div class="col-lg-12 col-md-12">
        <form ng-submit="addfilter()" name = "myform">
            <div class="panel panel-default filter_border" >
                <div class="panel-body">
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px; width:30%;margin:auto">{{errorMsg}}</div>
                    <div class="col-lg-3 col-md-3">
                        <h5>Start Date<span class="astrick">*</span></h5>


                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="rides.start_date"
                                   is-open="opened"
                                   max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="start_date"/>
    <span class="input-group-btn">
    <button type="button" ng-click="open($event)" class="btn btn-default">
        <em class="fa fa-calendar"></em>
    </button>
    </span>

                        </p>


                    </div>

                    <div class="col-lg-3 col-md-3">
                        <h5>End Date<span class="astrick">*</span></h5>

                        <p class="input-group">
                            <input type="text" datepicker-popup="{{format}}" ng-model="rides.end_date"
                                   is-open="opened1"
                                   max-date="maxDate" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" disabled=""
                                   class="form-control" id="end_date"/>
    <span class="input-group-btn">
    <button type="button" ng-click="open1($event)" class="btn btn-default">
        <i class="fa fa-calendar"></i>
    </button>
    </span>
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Select User</h5>

                        <select  name ="selectuser" ng-model="rides.user"  class="chosen-select form-control" ng-options="item.id as item.name for item in select_user">
                            <option value="">-- Select User--</option>
                        </select>
                        <!--<span class="ng-error" ng-show="myform.selectuser.$error.required" >This Field is required.</span>-->

                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Enter Name</h5>
                        <input type="text" name="username" class="form-control"
                               ng-model="rides.user_name" data-parsley-pattern="/^[a-zA-Z ]*$/"/>
                        <!--<span class="ng-error" ng-show="myform.username.$error.required" >This Field is required.</span>-->
                        <!--<span ng-show="myform.username.$error.pattern" class="ng-error">This value should be a valid name.</span>-->


                    </div>
                    <div class="col-lg-2 col-md-2" style="  margin-top: 35px;">
                        <button type="submit"  class="btn btn-primary"><i class="fa fa-check"></i>Apply Filter</button>
                        <button type="button" class="btn btn-sm btn-primary" ng-click="removeFilter();"><i class="fa fa-times"></i></button>

                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
<div style="clear:both"></div>

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a id="ridescsv" ng-click="exportData()" ng-show="showcsvbtn" class="pull-right btn btn-sm btn-info">Export To CSV</a>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table  table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Ride Id</th>
                            <th>Car Type/Car No.</th>
                            <th>Pick Up/Drop Off Location</th>
                            <th>Passenger Details</th>
                            <th>Driver Details</th>
                            <th>Fare Details</th>
                            <th>Status</th>
                            <th>Date/Time</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <!--<tfoot>-->
                        <!--<tr>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_id" placeholder="Date"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Customer Name"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->

                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Driver Name"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Contact"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Car Type"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Car NO."-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_total_trips" placeholder="Pick Up Location"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_email" placeholder="Pick Up Time"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_phone" placeholder="Drop off Location"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->


                            <!--<th>-->
                                <!--<input type="text" name="filter_average_rating" placeholder="Drop off Time"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_block" placeholder="Fare"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="CO2 Saved"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="Booking Type"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="Reviews"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--&lt;!&ndash;<th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" name="filter_delete" placeholder="Tip"&ndash;&gt;-->
                                       <!--&lt;!&ndash;class="form-control input-sm datatable_input_col_search"/>&ndash;&gt;-->
                            <!--&lt;!&ndash;</th>&ndash;&gt;-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="Rating"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="Status"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->

                        <!--</tr>-->
                        <!--</tfoot>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
</div>



