<h3>
    Pending Drivers
    <small>Displaying list of all the pending drivers in the system.</small>
</h3>
<div ng-controller="PendingDriverController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>
                    </div>
                <div style="clear:both"></div>

                <div class="table-responsive">
                    <table id="datatable2" class="table table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Braintree Status</th>
                            <th>Braintree Message</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Car Type</th>
                            <th>Car Model</th>
                            <th ng-if="data.braintreeStatus=='APPROVED'">Approve</th>
                            <th ng-if="data.braintreeStatus=='APPROVED'">Decline</th>
                            <th ng-if="data.braintreeStatus=='DECLINED'">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">
                            <td><span ng-class="data.braintreeStatus=='APPROVED' ? 'text-success': 'text-warning'">{{data.braintreeStatus}}</span>
                                <button class="btn btn-primary" ng-if="data.braintreeStatus=='DECLINED'" class="btn btn-sm btn-default" ng-click="reApply(data.driver_id)"
                                   title="Re-apply" style="margin-top:5px"> Apply Again
                                </button>
                            </td>
                            <td>{{data.braintreeMessage}}</td>
                            <td>{{data.user_name}}</td>
                            <td>{{data.user_email}}</td>
                            <td>{{data.phone_no}}</td>
                            <td>{{data.car_type}}</td>
                            <td>{{data.car_model}}</td>
                            <td ng-if="data.braintreeStatus=='APPROVED'">
                                <a  class="btn btn-sm btn-default" href="" ng-click="approveDriver(data.driver_id)">
                                <i class="fa fa-check unblock-icon"></i></a>

                            </td>
                            <td ng-if="data.braintreeStatus=='APPROVED'">
                                <a  class = "btn btn-sm btn-default" href="" ng-click="delete_pending_driver(data.driver_id)"> <i
                                        class="fa fa-close block-icon "></i></a>
                            </td>

                            <td ng-if="data.braintreeStatus=='DECLINED'">
                                <a class="btn btn-sm btn-default"  ng-href='#{{data.editdriver_url}}'
                                   title="Edit">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-click="deletedriver(data.driver_id)"
                                   title="Delete" style="margin-top:5px">
                                    <i class="fa fa-trash-o block-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Searchl"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Search"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings"  readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings"  readonly=""
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

<!-- **************************************************************************
******************* Modal to approve driver ***********************************
*******************************************************************************-->
    <script type="text/ng-template" id="approveDriverDialog">
        <div class="ngdialog-message">
            <h3>Approve Driver</h3>

            <div class="panel panel-default">
                <form method="post"  name='myForm' validate-form="" novalidate="" ng-submit="myForm.$valid && submit(approveData)"
                      id="approve-driver">

                    <div class="panel-body">
                        <div class="form-group">
                            <input type="hidden" name="driver_id" class="form-control"
                                   ng-bind="updateDriverData.driver_id"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Vehicle Number</label>
                            <input type="text" name="vehicle_num" required="required" class="form-control"
                                   ng-model="approveData.vehicle_num" data-parsley-type="alphanum"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">License Number</label>
                            <input type="text" name="license_num" required="required" class="form-control"
                                   ng-model="approveData.license_num" data-parsley-type="alphanum"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Social Security Number</label>
                            <input type="text" name="soc_sec_num" required="required" class="form-control" data-parsley-type="digits"
                                   ng-model="approveData.soc_sec_num"/>
                        </div>

                        <div class="form-group" ng-controller="CarController">
                            <label class="control-label" placeholder="Select-car">Car Type</label>
                            <select name="account" class="form-control" ng-model="approveData.select_car">
                                <option ng-repeat="cars in list" ng-value="cars.car_type">{{cars.car_name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Phone Number</label><br>
                            <div style="float: left;background: rgb(238,241,242);padding:5px;">+</div>
                            <input type="text" name="phn_no" required="required" data-parsley-type="digits" class="form-control"
                                   ng-model="approveData.phn_no" style="  float: right;width: 91%;" placeholder="phone number with country code"/>
                            <div style="clear:both"></div>
                            <!--<input type="text" name="phn_no" required="required" data-parsley-type="number" class="form-control"-->
                                   <!--ng-model="approveData.phn_no"/>-->
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="control-label">Driver Paypal ID</label>-->
                            <!--<input type="text" name="paypal_id" required="required" class="form-control" data-parsley-type="email"-->
                                   <!--ng-model="approveData.paypal_id"/>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label">Vehicle Emissions</label>
                            <input type="text" name="vehicle_emissions" required="required" class="form-control"
                                   ng-model="approveData.vehicle_emissions" ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>
                        </div>
                        <div  ng-show="myForm.vehicle_emissions.$error.pattern" style="color:#ff0000">Not a  valid input!</div>
                        <div class="form-group">
                            <label class="control-label">CO2 Produced (per km)</label>
                            <input type="text" name="co2_produced" required="required" class="form-control"
                                   ng-model="approveData.co2_produced" ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>
                        </div>
                        <div  ng-show="myForm.co2_produced.$error.pattern" style="color:#ff0000">Not a  valid input!</div>

                        <!--<div class="form-group">-->
                            <!--<label class="control-label">Upload Vehicle Image</label>-->
                            <!--<input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required="required" />-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label">Upload Vehicle Image</label>
                            <div class="fileUpload btn btn-info">
                                <span>Upload</span>
                                <input filestyle="" type="file" accept="image/*" image="image" onchange="angular.element(this).scope().file_to_upload(this.files)" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control upload"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <img ng-src='app/img/noimg.png' style="width:100px;height:100px" id="car_image"/>
                        </div>

                        <!--<div class="form-group center" ng-controller="UploadController ">-->
                            <!--<input filestyle="" type="file" data-button-text="Single"-->
                                   <!--data-class-button="btn btn-default"-->
                                   <!--ng-file-select="onFileSelect($files)" file="approveData.file_upload"-->
                                   <!--data-classinput="form-control inline" class="form-control" name="file"-->
                                   <!--id="filestyle-1"-->
                                   <!--tabindex="-1"-->
                                   <!--style="position: absolute; clip: rect(0px 0px 0px 0px);">-->

                            <!--<div class="bootstrap-filestyle input-group">-->
                                <!--<input type="text" class="form-control" disabled="disabled">-->
                                    <!--<span class="group-span-filestyle input-group-btn" tabindex="0">-->
                                        <!--<label for="filestyle-1" class="btn btn-default ">-->
                                             <!--<span class="glyphicon glyphicon-folder-open"></span>-->
                                         <!--Select</label>-->
                                    <!--</span>-->
                            <!--</div>-->
                            <!--<br/>-->
                            <!--&lt;!&ndash;<div style="text-align: center;">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img style="width: 150px; height: 150px; border-radius: 55px;"&ndash;&gt;-->
                                     <!--&lt;!&ndash;ng-src="{{imageSrc || 'app/img/noimg.png'}}"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<br/>-->
                            <!--</p>-->
                        <!--</div>-->


                    </div>
                    <div class="panel-footer btn-align">
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                        </button>
                        <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">{{successMsg}}</div>
                        <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">{{errorMsg}}</div>
                    </div>
                </form>
            </div>

        </div>


    </script>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

<!-- ***************************************************************************
******************* Modal for delete driver ************************************
********************************************************************************-->
    <script type="text/ng-template" id="delete_driver_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete driver?</h4>
            <div style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="">
                    <button type="submit" ng-click="delete_driver(delete_driver_id)" class="btn btn-primary" >Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

</div>