<h3>
    Promo Codes
    <small>Displaying list of all the promo codes</small>


</h3>

<div ng-controller="PromoCodeController" class="container-fluid">
    <h3>
        <a href="" ng-click="showReferralCode()" class="btn btn-primary pull-left head_button">Edit Referral Code</a>
        <a href="" ng-click="AddPromoCodeDialog()" class="btn btn-primary pull-right head_button">Add New Promo Code</a>
    </h3>
    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button ng-click="exportData()" class="pull-right btn btn-sm btn-info">Export To CSV</button>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Promo Code</th>
                            <th>Promo Code Image</th>
                            <th style="width:15%">Description</th>

                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Validity ( No. of Days )</th>
                            <th>Total No. Of Coupons</th>
                            <th>No. Of Coupons per user</th>
                            <th>Maximum Discount</th>
                            <th>Discount ( % )</th>

                            <th style="width:15%">Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.promotion_code}}</td>
                            <td>
                                <div class="media"><img src={{data.promo_image}} class="img-responsive"/></div>
                            </td>
                            <td>{{data.description}}</td>

                            <td>{{data.start_date}}</td>
                            <td>{{data.end_date}}</td>
                            <td>{{data.days_validity}}</td>
                            <td>{{data.num_coupons}}</td>
                            <td>{{data.no_coupons_per_user}}</td>
                            <td>{{data.max_discount}}</td>
                            <td>{{data.perc_discount}}</td>
                            <td>

                                <a class="btn btn-sm btn-default" ng-href='#{{data.editpromo_url}}'
                                   title="Edit">
                                    <i class="fa fa-pencil icon-css pencil-icon"></i>
                                </a>

                                <a class="btn btn-sm btn-default" ng-show="!(data.is_deleted)" ng-click="deletePromocode_popup(data.id)"
                                   title="Delete">
                                    <i class="fa fa-unlock unblock-icon"></i>
                                </a>
                                <a class="btn btn-sm btn-default" ng-show="data.is_deleted"
                                   title="Delete">
                                    <i class="fa fa fa-lock block-icon"></i>
                                </a>

                                <a class="btn btn-sm btn-default" ng-href ="#{{data.engagement_url}}"
                                   title="View Engagements">
                                    <i class="fa fa-eye pencil-icon"></i>
                                </a>

                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="PROMO CODE"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="PROMO IMAGE"
                                       class="form-control input-sm datatable_input_col_search" readonly=""/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="DESCRIPTION"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="START DATE"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="END DATE"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings" placeholder="VALIDITY"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_edit_driver" placeholder="NO. OF COUPONS"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_edit_driver" placeholder="NO. OF COUPONS/USER"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_edit_driver" placeholder="MAX DISCOUNT"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_block" placeholder="DISCOUNT (%)"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="ACTIONS"
                                       class="form-control input-sm datatable_input_col_search" readonly=""/>
                            </th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->


    <!-- ***************************************************************************
    ******************* Modal for delete driver ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="delete_promocode_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to block this promo code?</h4>

            <div style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="" id="approve-driver">
                    <button type="submit" ng-click="delete_promo(promo_code_id)" class="btn btn-primary">Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default"
                            style='margin-left:20px;'>Cancel
                    </button>
                </form>
            </div>
        </div>
    </script>
    <!-- ***************************************************************************
 ******************* Modal for referral codes **************************************
 ***************************************************************************-->
    <script type="text/ng-template" id="referral_code_popup">
        <div class="ngdialog-message">
            <h3>Referral Code</h3>

            <div class="panel panel-default">
            <form method="post" validate-form="" novalidate="" ng-submit="submitReferral()">
                <div ng-show="editReferral.successMsg" class="alert alert-success text-center">{{editReferral.successMsg}}</div>
                <div ng-show="editReferral.errorMsg" class="alert alert-danger text-center">{{editReferral.errorMsg}}</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">( % Discount )</label>
                            <input type="text" required="required" name="perc_off" class="form-control"
                                   ng-model="referral.perc_off" data-parsley-type="number" data-parsley-max="100"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Maximum Discount</label>
                            <input type="text" required="required"  name="max_off" class="form-control"
                                   ng-model="referral.max_off" data-parsley-type="number"/>
                        </div>
                    </div>

                <div class="panel-footer btn-align">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-pencil">Edit</span>
                    </button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
                </div>
            </form>
            </div>


        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>


</div>