<h3>
   Reports
</h3>
<div ng-controller="ChartController" class="container-fluid">
    <!-- START row-->
    <div class="row">
        <div class="col-lg-12">

            <!--Datepicker start-->
            <form>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-3">
                        <h5>Start Date</h5>
                        <div class="row form-group">
                            <div>
                                <p class="input-group">
                                    <input type="text" datepicker-popup="{{format}}" ng-model="reports.start_date1" is-open="opened"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"  close-text="Close" disabled=""
                                           class="form-control" id="start_date" />
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                                </p>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                        <h5>End Date</h5>
                        <div class="row form-group">
                            <div>
                                <p class="input-group">
                                    <input type="text" datepicker-popup="{{format}}" ng-model="reports.end_date1" is-open="opened1"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"  close-text="Close" disabled=""
                                           class="form-control" id="end_date"/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open1($event)" class="btn btn-default">
                               <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                                </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-primary" ng-click="findCharts()" style="margin-top: 36px;">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--Datepicker end-->
        </div>
        <div class="col-lg-12">
            <div id="panelChart2" class="panel panel-default">
                <div class="panel-heading">
                    <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                    <div class="panel-title">Earnings Data vs Date</div>
                </div>
                <div collapse="panelChart2" class="panel-wrapper">
                    <div class="panel-body" id="earningcharts">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="panelChart4" class="panel panel-default">
                <div class="panel-heading">
                    <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                    <div class="panel-title">Ride Data vs Date</div>
                </div>
                <div collapse="panelChart4" class="panel-wrapper">
                    <div class="panel-body" id="ridecharts">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="closeThisDialog(0)" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
</div>