<h3>
    Scheduled Rides
    <small>Displaying list of all rides</small>
</h3>
<div ng-controller="ScheduledridesController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a id="ridescsv" ng-click="exportData()"  ng-show="showcsvbtn" class="pull-right btn btn-sm btn-info">Export To CSV</a>

                </div>
                <div style="clear:both"></div>
                <div class="table-responsive">
                    <table id="datatable2" class="table  table-hover" ng-class="{'whirl duo' : showloader }">
                        <thead>
                        <tr>
                            <th>Engagement ID</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Car Name</th>
                            <th>Pick Up Time</th>
                            <th>Pick Up Location</th>
                            <th>Drop off Location</th>
                            <th>Status</th>
                            <th>Type of Booking</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <!--<tfoot>-->
                        <!--<tr>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_id" placeholder="Date"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Customer Name"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_name" placeholder="Car Name"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_total_trips" placeholder="Pick Up Time"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_email" placeholder="Pick Up Location"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_driver_phone" placeholder="Drop off Location"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->


                            <!--&lt;!&ndash;<th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" name="filter_average_rating" placeholder="Drop off Time"&ndash;&gt;-->
                                       <!--&lt;!&ndash;class="form-control input-sm datatable_input_col_search"/>&ndash;&gt;-->
                            <!--&lt;!&ndash;</th>&ndash;&gt;-->
                            <!--&lt;!&ndash;<th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" name="filter_block" placeholder="Fare"&ndash;&gt;-->
                                       <!--&lt;!&ndash;class="form-control input-sm datatable_input_col_search"/>&ndash;&gt;-->
                            <!--</th>-->
                            <!--&lt;!&ndash;<th>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" name="filter_delete" placeholder="Tip"&ndash;&gt;-->
                            <!--&lt;!&ndash;class="form-control input-sm datatable_input_col_search"/>&ndash;&gt;-->
                            <!--&lt;!&ndash;</th>&ndash;&gt;-->
                            <!--<th>-->
                                <!--<input type="text" name="filter_delete" placeholder="Status"-->
                                       <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</tfoot>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
    <!-- ***************************************************************************
******************* Modal for force stop ongoing ride **************************
********************************************************************************-->
    <script type="text/ng-template" id="cancel_ride_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to cancel this ride?</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="cancel_schedule_ride()" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>
    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
</div>




