<style>
    #datatable2 > thead > tr>th{
        text-align:center;
    }
    .dataTables_info{
        float:left;
    }
</style>
<h3>
    Surge Pricing
    <!--<small>Add Car Fare</small>-->
</h3>
<div class="row" ng-controller="SurgePricingController">
    <div class="col-lg-6" style="margin: auto;float: none;">
        <form method="post" validate-form="" novalidate="" ng-submit="addCarFare(cars)" id="add-promo">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Select Car Type</div>
                </div>
                <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label" placeholder="Select-car">Car Type<span
                                class="astrick">*</span></label>
                        <select name="account" class="form-control" ng-model="car_type" ng-change="set(car_type)">
                            <option ng-repeat="cars in list" ng-model="cars.car_name" ng-value="{{cars.car_type}}" >
                                {{cars.car_name}}
                            </option>
                        </select>
                    </div>

                    <!--ng-selected="cars.car_type == select_car"-->
                </div>

            </div>


            <!-- END panel-->
        </form>

    </div>
    <h3>

    </h3>

    <div class="row" ng-show="show_table">

        <div class="col-lg-12" style='text-align:center'>
            <a class="btn btn-primary head_button" ng-click="EditableInput()">Edit Fares</a>

            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Start Slot</th>
                            <th>End Slot</th>
                            <th>Surge Multiplier</th>
                            <!--<th>Fare (per min)</th>-->

                            <!--<th>Fare (per KM)</th>-->
                            <!--<th>Wait Time Fare (per min)</th>-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in cartypes">
                            <td>{{$index + 1}}</td>
                            <td>
                                <div>{{data.start_slot}}</div>
                                <!--<input ng-show="editvalue" ng-model="data.start_slot"/>-->
                            </td>

                            <td>
                                <div>{{data.end_slot}}</div>
                                <!--<input ng-show="editvalue" ng-model="data.end_slot"/></td>-->
                            <td>
                                <div ng-show="showvalue">{{data.fare_fixed}}</div>
                                <form name='fare'>
                                    <input ng-show="editvalue" ng-model="data.fare_fixed" name="fare_fixed"
                                           ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>

                                    <div ng-show="fare.fare_fixed.$error.pattern" class="ng-error">Not a valid input!
                                    </div>
                                </form>
                            </td>
                            <!--<td ng-show="false">-->
                            <!--<div ng-show="false">{{data.fare_per_min}}</div>-->
                            <!--<form name='fare1' >-->
                            <!--<input ng-show="false" ng-model="data.fare_per_min" name="fare_per_min"-->
                            <!--ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>-->

                            <!--<div ng-show="fare1.fare_per_min.$error.pattern" class="ng-error">Not a valid-->
                            <!--input!-->
                            <!--</div>-->
                            <!--</form>-->
                            <!--</td>-->
                            <!--<td ng-show="false">-->
                            <!--<div ng-show="false">{{data.fare_per_km}}</div>-->
                            <!--<form name='fare2'>-->
                            <!--<input ng-show="false" ng-model="data.fare_per_km" name="fare_per_km"-->
                            <!--ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>-->

                            <!--<div ng-show="fare2.fare_per_km.$error.pattern" class="ng-error">Not a valid input!-->
                            <!--</div>-->
                            <!--</form>-->
                            <!--</td>-->
                            <!--<td ng-show="false">-->
                            <!--<div ng-show="false">{{data.wait_time_fare_per_min}}</div>-->

                            <!--<form name='fare3'>-->
                            <!--<input ng-show="false" ng-model="data.wait_time_fare_per_min"-->
                            <!--name="wait_time_fare_per_min" ng-pattern="/((\d+)((\.\d{1,2})?))$/"/>-->

                            <!--<div ng-show="fare3.wait_time_fare_per_min.$error.pattern" class="ng-error">Not a-->
                            <!--valid input!-->
                            <!--</div>-->
                            <!--</form>-->
                            <!--</td>-->


                        </tr>
                        </tbody>

                    </table>
                    <div style='text-align:center'>
                        <button class="btn btn-primary head_button" ng-show="showupdate"
                                ng-click="SubmitUpdatedFare(cartypes)">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
<script type="text/ng-template" id="display_msg_modalDialog">
    <div class="ngdialog-message">
        <h4>{{displaymsg}}</h4>
        <a type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-primary"
           style="margin-top:20px;float:right;">OK</a>

        <div style="clear: both;"></div>
    </div>
</script>

