
<h3 xmlns="http://www.w3.org/1999/html">
    Update/Add Blog
    <small>Add Admin</small>
</h3>
<div class="row" ng-controller="blogController" ng-init="initBlog()">
    <div class="col-lg-6 col-md-6">
        <form name ="myForm" method="post"  validate-form="" novalidate="" ng-submit="addUpdateBlog()">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label class="control-label">Blog Title</label>
                        <input type="text" name="title" required="required" class="form-control"
                               ng-model="blog.title"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Sub Title</label>
                        <input type="text" name="title" required="required" class="form-control"
                               ng-model="blog.blogDesc.subtitle"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Blog Description</label>
                        <textarea type="text" rows="4" name="desc" required="required" class="form-control"
                               ng-model="blog.blogDesc.description"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Upload Blog Image</label>
                        <div class="form-group">
                            <img id="blogImage" src="{{blog.mainImg}}" class='uploaded_img left-div'
                                 style="width:100px;height:100px"/>
                        </div>
                        <div style="clear:both"></div>
                        <div class="fileUpload btn btn-info">
                            Upload Photo
                            <input id="imagecropupload" filestyle="" type="file" accept="image/*"
                                   onchange="angular.element(this).scope().file_to_upload(this.files)"
                                   data-button-text="Single" data-class-button="btn btn-default"
                                   data-classinput="form-control inline" nv-file-select="" uploader="uploader"
                                   class="form-control upload" />

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div ng-show="successMsg" class="alert alert-success text-center" style="margin-top: 10px;">
                        {{successMsg}}
                    </div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center" style="margin-top: 10px;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <!-- END panel-->
        </form>


    </div>

    <!-- **************************************************************************
******************* Modal to display msg **************************************
*******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="closeThisDialog(0)" class="btn btn-primary"
               style="margin-top:20px;float:right;">OK</a>

            <div style="clear: both;"></div>
        </div>
    </script>
</div>