<h3>
    Email Template
    <small>Update Email Template</small>
</h3>
<div class="row" ng-controller="EmailTemplateController">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Add /Update Messaging Templates</div>
                <hr>
            </div>
            <form method="post" validate-form="" novalidate="" ng-submit="updateEmailTemplate(template,0)">
                <!-- START panel-->

                <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Enter Email Name<span class="astrick">*</span></label>
                        <input type="text" required="required" class="form-control"
                               ng-model="template.name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email Template HTML<span class="astrick">*</span></label>
                        <textarea type="text" required="required" class="form-control msd-elastic"
                                  elastic ng-model="template.email_template_html" />
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Update Email Template</button>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
    <div class="col-lg-6" ng-show="template.email_template_html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Email Template HTML</div>
                <hr>
            </div>
            <div class="panel-body">
                <span ng-bind-html="template.email_template_html"></span>
            </div>
        </div>
    </div>
</div>