
<h3 xmlns="http://www.w3.org/1999/html">
    Passenger Details
    <!--<small>Add Admin</small>-->
</h3>
<div class="row" ng-controller="ViewCustomerController">
    <div>
        <a class="btn btn-sm btn-default pull-right" ng-click="deletepassenger_popup()"
           title="Delete">
            <i class="fa fa-trash-o block-icon"></i>
        </a>
        <a class="btn btn-sm btn-default pull-right"  ng-href='#{{editcustomer_url}}'
           title="Edit">
            <i class="fa fa-pencil icon-css pencil-icon"></i>
        </a>
        <!-- data.is_blocked =0 means driver is unblock do it block -->
        <a class="btn btn-sm btn-default pull-right" title="block" ng-hide="isBlocked" ng-click="blockunblockpassenger_popup(1)">
            <i class="fa fa-unlock unblock-icon"></i>
        </a>
        <a class="btn btn-sm btn-default pull-right" title="unblock" ng-show="isBlocked" ng-click="blockunblockpassenger_popup(0)">
            <i class="fa fa-lock block-icon"></i>
        </a>
    </div>
    <div class="table-responsive col-md-12" style="float:none;margin:auto">
        <table id="datatable2" style="background-color: #fff;" class="table table-hover" ng-class="{'whirl duo' : showloader }">
            <tbody>
            <tr>
                <td>Name</td>
                <td><strong>{{user_name}}</strong></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><strong>{{phone_no}}</strong></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><strong>{{email}}</strong> </td>
            </tr>
            <tr>
                <td>Overall Ratings</td>
                <td><strong>{{rating}}/5</strong>
                </td>
            </tr>

            </tbody>

        </table>
    </div>

    <!-- ***************************************************************************
******************* Modal for delete driver ************************************
********************************************************************************-->
    <script type="text/ng-template" id="delete_passenger_modalDialog">
        <div class="ngdialog-message">
            <h4>Are you sure you want to delete this passenger?</h4>
            <div  style="  margin-top: 20px;text-align: right;">
                <form method="post" validate-form="" novalidate="" id="approve-driver" >
                    <button type="submit" ng-click="delete_passenger()" class="btn btn-primary" >Submit</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
                </form>
            </div>
        </div>
    </script>

    <!-- **************************************************************************
    ******************* Modal to display msg **************************************
    *******************************************************************************-->
    <script type="text/ng-template" id="display_msg_modalDialog">
        <div class="ngdialog-message">
            <h4>{{displaymsg}}</h4>
            <a type="submit" ng-click="refreshPage()" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>
    <script type="text/ng-template" id="display_msg_modalDialog2">
        <div class="ngdialog-message">
            <h4>{{displaymsg2}}</h4>
            <a type="submit" ng-click="$state.go('app.mypassengers') && closeThisDialog(0)" class="btn btn-primary" style="margin-top:20px;float:right;">OK</a>
            <div style="clear: both;"></div>
        </div>
    </script>

    <!-- ***************************************************************************
    ******************* Modal for block unblock driver ************************************
    ********************************************************************************-->
    <script type="text/ng-template" id="block_unblock_passenger_modalDialog">
        <div class="ngdialog-message">
            <h4>{{blockunblockmsg}}</h4>
            <div >
                <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
                    <button type="submit" ng-click="do_block_unblock_passenger(is_blocked)" class="btn btn-primary" >Yes</button>
                    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
                </form>
            </div>
        </div>
    </script>


</div>